<h1>Listing people</h1>

<table id="people-table">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Mobile</th>
    <th>Address address1</th>
    <th>Address address2</th>
    <th>Address address3</th>
    <th>Address city</th>
    <th>Address state</th>
    <th>Address zip</th>
    <th>Address country code</th>
    <th>Address lat</th>
    <th>Address lng</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Person</a>