<div id="content-sidebar" class="col-xs-4">

<h1>Mes contacts</h1>

<% @children.each do |child| %>
    <div><%= "#{child.full_name}; #{child.email}" %> </div>
<% end %>

<div id="content-details" class="col-xs-8">

</div>