/* Thème Alain Juppé */
/* Bleu foncé 002855, Rouge E4002B */
$brand-primary: lighten(#002855, 10%) !default;

@import "bootstrap-sprockets";
@import "bootstrap";

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#content {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#content-sidebar {
  border-right: solid $gray-lighter 1px;
}

.btn-xs {
  border: none;
}

button.btn-xs:hover {
  background-color: transparentize(#002855, 0.9);
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
}